version: "3"
services:
    database:
        image: postgres:14-alpine
        environment:
            POSTGRES_PASSWORD: admin
            POSTGRES_USER: admin
            POSTGRES_DB: fusion10
        ports:
            -   5454:5432
        volumes:
            - "./database:/var/lib/postgresql/data"
volumes:
    data:
